/* .container{
    height: 40px;
    border: 2px solid;
} */
ion-icon{
   font-size:xx-large; 
}
.main{
    
    background-color: rgb(45, 43, 43);
    width:50%;
    height: 55vh;
    display: none;
    
}
.item{
    color: white;
    cursor: pointer;
    padding: 30px;
    text-align: center;
}
.item:hover{
    color: rgb(255, 192, 2);
}
#check:checked~.main{
    display: block;

}
#check{
    display: none;
}
@media screen and (max-width:1025px) {
      
    
}