:root{
    --primary-color: #5A93B3;
    --Secondary-color : #000000,#DEDEDE;
    --Accent-color:#e149bb;
}
.container{
    width: 400px;
    height: 300px;
    border: 2px solid #5A93B3;
    border-radius: 20px;
    background-color: var(--primary-color);
}
.menu{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: var(--primary-color);
}
.menu>p{
    display: inline-block;
    position: relative;
    left: 200px;
    margin-left: 40px;
}
.text>h2{
    color: rgb(176, 70, 70);
}
.button{
    width: 90px;
    height: 30px;
    border: 2px solid #b56da3;
    border-radius: 30px;
    align-content: center; 
    position: relative;
    left: 40%;  
    top: 10px;
    background-color: var(--Accent-color);
    color: white
}
